<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title>Document</title>
</head>

<body>
    <section class="header">
        <a href="index.html" class="logo">
            <img src="img/donation.png" alt="">
            <h2>Insertar nombre original</h2>
        </a>
        <div class="toggle">
            <ul class="sci">
                <li>
                    <a href="index.html">Home<img src="img/" alt="" class="icon">
                        <span class="line2 "></span>
                    </a> </li>
                <li>
                    <a href="requisitos.html">Requisitos<img src="img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li>
                    <a href="RH.html">Tipo de RH <img src="img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li>
                    <a href="incentivo.html">Incentivos<img src="img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li><a href="about.html">Sobre nosotros <img src="img/about.png" alt="" class="icon"> <span
                            class="line2 active"></span></a> </li>
                <li><a href="login.html">Login <img src="img/user.png" alt="" class="icon"><span class="line2"></span> </a> </li>

            </ul>
        </div>
    </section>
    <section class="Jumbotron">
        <div class="title">
            <h1>Menú</h1>
        </div>
        <div class="wave"></div>
    </Section>
    <section class="Testimonial">       
        <div class="testimonials">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="layer"></div>
                            <div class="content">                                
                                <div class="imgBx2">
                                    <img src="img/calendar.png" width="205px" alt="">
                                </div>
                                <div class="details">
                                    <h2>Agendar cita</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="layer"></div>
                            <div class="content">                                
                                <div class="imgBx2">
                                    <img src="img/certificado.png" width="150px" alt="">
                                </div>
                                <div class="details">
                                    <h2>Certificado de Donante</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="layer"></div>
                            <div class="content">                                                                
                                <div class="imgBx2">
                                    <img src="img/donacion.png" width="200px" alt="">
                                </div>
                                <div class="details">
                                    <h2>Proxima donación</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="layer"></div>
                            <div class="content">                                
                                <div class="imgBx2">
                                    <img src="img/cupon.png" width="200px" alt="">
                                </div>
                                <div class="details">
                                    <h2>Tus incentivos</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="layer"></div>
                            <div class="content">
                                <div class="imgBx2">
                                    <a href="requisitos.html"><img src="img/lista.png" width="200px">                                    
                                </div>
                                <div class="details">
                                    <h2>¿Cumples los requisitos?</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="layer"></div>
                            <div class="content">
                                <div class="imgBx2">
                                    <img src="img/pregunta.png" width="200px" alt="">
                                </div>
                                <div class="details">
                                    <h2>Preguntas frecuentes</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <ul class="sci">
            <li><a href="#"><img src="img/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="img/twitter.png" alt=""></a></li>
            <li><a href="#"><img src="img/instagram.png" alt=""></a></li>
        </ul>
        <h4>Copyright &copy;2020</h4>
    </section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 0,
                modifier: 1,
                slideShadows: true,
            },
            loop:true,
        });
    </script>
</body>

</html>