<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <a href="index.html" class="logo">
            <img src="img/donation.png" alt="">
            <h2>Insertar nombre original</h2>
        </a>
        <div class="toggle">
            <ul class="sci">
                <li>
                    <a href="index.html">Home<img src="img/" alt="" class="icon">
                        <span class="line2 "></span>
                    </a> </li>
                <li>
                    <a href="">Requisitos<img src="img/campaigning.png" alt="" class="icon">
                        <span class="line2 active"></span>
                    </a> </li>
                <li>
                    <a href="RH.html">Tipo de RH <img src="img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li>
                    <a href="incentivo.html">Incentivos<img src="img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li><a href="about.html">Sobre nosotros <img src="img/about.png" alt="" class="icon"> <span
                            class="line2"></span></a> </li>
                <li><a href="#">Login <img src="img/user.png" alt="" class="icon"><span class="line2"></span> </a> </li>

            </ul>
        </div>
    </section>
    <section class="Jumbotron">
        <div class="title">
            <H1>Requisitos</H1>
        </div>
        <div class="wave"></div>
    </section>
</body>
</html>